<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 1. Appenders -->
	<!-- STDOUT -->
	<appender name="JTextAppender" class="utils.logging.JTextAppender" />

	<logger name="JTextLogger" level="INFO" />

	<!-- 2. Output level -->
	<root level="INFO">
		<appender-ref ref="JTextAppender" />
	</root>

</configuration>
